<!DOCTYPE html>
{% load static %}
{% load format_filters %}
<html lang="cs">
<head>
    <meta charset="UTF-8">
    {% for delivery in deliveries %}
    <title>Faktura č. {{ delivery.header.invoice_number }}</title>
    <link rel="stylesheet" href="{% static 'css/pdf-style.css' %}"> <!-- 14.04.2025 VRBAT - spojení css s html přes django engine-->
</head>
<body>
    <h1><strong>Faktura - daňový doklad č. </strong> {{ delivery.header.invoice_number }}</h1>
    <p><strong>Dodávka č.:</strong> {{ delivery.header.delivery_number }}</p>
    <p><strong>Měna:</strong> {{ delivery.header.invoice_currency }}</p>
    <p><strong>Datum dodání:</strong> {{ delivery.header.delivery_date }}</p>
     
    <div class="flex-table">
        <div class="flex-cell">
            <h3>Dodavatel</h3>
            <p>
                <strong>Název:</strong> Tomáš Vrba<br>
                <strong>IČO:</strong> 85124587<br>
                <strong>Adresa:</strong> Na stráni 1221/12, Plzeň 23<br>
                <strong>Email:</strong> tomas.vrba@vrba.cz<br>
                <strong>Telefon:</strong> 741 587 985
            </p>
        </div>
        <div class="flex-cell">
            <h3>Odběratel</h3>
            <p>
                <strong>Název:</strong> {{ delivery.customer.name }}<br>
                <strong>IČO:</strong> {{ delivery.customer.ico }}<br>
                <strong>Adresa:</strong> {{ delivery.customer.address }}<br>
                <strong>Email:</strong> {{ delivery.customer.email }}<br>
                <strong>Telefon:</strong> {{ delivery.customer.phone }}
            </p>
        </div>
    </div>

    <h3>Položky</h3>
    <table>
        <thead>
            <tr>
                <th>Č.</th>
                <th>Materiál</th>
                <th>Popis</th>
                <th>MN</th>
                <th>MJ</th>
                <th>Cena/ks (bez DPH)</th>
                <th>Celkem bez DPH</th>
                <th>Celkem s DPH</th>
                <th>Celkem ({{ delivery.header.invoice_currency }})</th>
            </tr>
        </thead>
        <tbody>
            {% for item in delivery.items %}
                <tr>
                    <td>{{ item.item_number }}</td>
                    <td>{{ item.material }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.price_per_unit|price_number }} {{ item.currency }}</td>
                    <td>{{ item.total_price|price_number }} {{ item.currency }}</td>
                    <td>{{ item.total_price_vat|price_number }} {{ item.currency }}</td>
                    <td>{{ item.total_price_vat_converted|price_number }} {{ item.converted_currency }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Souhrn</h3>
    <p>
        <strong>Celkem bez DPH:</strong> {{ delivery.summary.total_no_dph|price_number }} CZK<br>
        <strong>Celkem s DPH:</strong> {{ delivery.summary.total_with_dph|price_number }} CZK<br>
        <strong>Celkem v měně faktury:</strong> {{ delivery.summary.total_invoice_currency_with_dph|price_number }} {{ delivery.header.invoice_currency }}
    </p>
    <hr>
    <h1>Celkem k úhradě: {{ delivery.summary.total_converted_with_dph|price_number  }} {{ delivery.summary.currency }}</h1>
{% endfor %}
</body>
<footer class="footer-note">
    <p class="watermark">NEPLAŤTE!! – VYTVOŘENO PRO STUDIJNÍ ÚČELY</p>
</footer>
</html>