<!DOCTYPE html>
{% load static %} <!-- 14.04.2025 VRBAT - spojení css s html-->
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomas Vrba</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- 14.04.2025 VRBAT - spojení css s html přes django engine-->
</head>
<body>
    <button type="button" onclick="window.location.href='admin/'">Admin mode</button> <!-- 15.04.2025 VRBAT - admin mode-->
    <h1>TEST MAIN</h1>    
    <p>Try this button <a href="print/">Print invoice</a></p>
</body>
</html>