<!DOCTYPE html>
{% load static %} <!-- 14.04.2025 VRBAT - spojení css s html-->
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomas Vrba</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- 14.04.2025 VRBAT - spojení css s html přes django engine-->
</head>
<body>
    <div class="container">
        <!-- Tlačítko pro přechod do admin módu -->
        <div class="button-container">
            <button class="button" onclick="window.location.href='admin/'">Admin Mode</button>
        </div>

        <!-- Titulní nadpis -->
        <h1>Informační systém firmy Vrba s.r.o</h1>    

        <!-- Odkazy pro různé akce -->
        <div class="links">
            <div class="link-item">
                <a href="print/" class="button">Report dodávky</a>
            </div>
            <div class="link-item">
                <a href="report_items/" class="button">Report dodávky - položky</a>
            </div>
            <div class="link-item">
                <a href="report_customers/" class="button">Report zákazníci</a>
            </div>
        </div>
    </div>
</body>
</html>